* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.header {
    border-bottom: 1px solid #e4e4e5;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header__left {
    height: 170px;
    display: flex;
    align-items: center;
}

.header__logo {
    line-height: 0;
    display: block;
}

.header__right {
    width: 850px;
}

.header__top {
    height: 84px;
    border-bottom: 1px solid #e4e4e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__feedback a {
    display: block;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #000;
}

a.header__feedback-button {
    color: #27acea;
    text-transform: uppercase;
}

.header__callback a {
    display: block;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #000;
}

a.header__callback-button {
    color: #27acea;
    text-transform: uppercase;
}

.header__links {
    width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__lang {
    padding-left: 10px;
    position: relative;
    line-height: 0;
}

.header__lang a {
    color: #000;
    text-decoration: none;
    line-height: 14px;
}

.header__lang a.active {
    color: #bcbcbd;
}

.header__lang a:first-child {
    padding-right: 12px;
}

.header__lang::before {
    content: "";
    position: absolute;
    top: 0;
    left: 43px;
    border-right: 1px solid #bcbcbd;
    height: 100%;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}

.header__menu {
    width: 780px;
    display: flex;
    justify-content: space-between;
}

.header__menu-link {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}

.header__menu-link.active, .header__menu-link:hover {
    color: #27acea;
}

.header__search {
    line-height: 0;
}

.header__search a {
    display: block;
}

.footer {
    border-top: 1px solid #a1a2a7;
    background: #151723;
    flex: 0 0 auto;
}

.footer__menu {
    height: 144px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: 1px solid #3b3c45;
    padding: 0 85px;
}

.footer__menu-link {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.footer__bottom {
    height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-weight: 300;
    line-height: 24px;
}