@font-face {
    font-family: 'Neighbor-Light'; 
    src: url('Neighbor-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neighbor';
    src: url('Neighbor.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neighbor-Bold';
    src: url('Neighbor-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}