* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h2 {
    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #151723;
}

ul {
    list-style: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.header {
    border-bottom: 1px solid #e4e4e5;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header__left {
    height: 170px;
    display: flex;
    align-items: center;
}

.header__logo {
    line-height: 0;
    display: block;
}

.header__right {
    width: 850px;
}

.header__top {
    height: 84px;
    border-bottom: 1px solid #e4e4e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__feedback a {
    display: block;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
    color: #000;
}

a.header__feedback-button {
    color: #27acea;
    text-transform: uppercase;
}

.header__callback a {
    display: block;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
    color: #000;
}

a.header__callback-button {
    color: #27acea;
    text-transform: uppercase;
}

.header__links {
    width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__lang {
    padding-left: 10px;
    position: relative;
    line-height: 0;
}

.header__lang a {
    color: #000;
    text-decoration: none;
    line-height: 14px;
}

.header__lang a.active {
    color: #bcbcbd;
}

.header__lang a:first-child {
    padding-right: 12px;
}

.header__lang::before {
    content: "";
    position: absolute;
    top: 0;
    left: 43px;
    border-right: 1px solid #bcbcbd;
    height: 100%;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}

.header__menu {
    width: 780px;
    display: flex;
    justify-content: space-between;
}

.header__menu-link {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 33px 0;
}

.header__menu-link.active, .header__menu-link:hover {
    color: #27acea;
}

.header__menu-level-1 {
    position: relative;
}

.header__menu-list {
    position: absolute;
    width: 365px;
    top: 53px;
    left: 0;
    z-index: 2;
    background: #fff;
    font-size: 15px;
    line-height: 22px;
    display: none;
}

.header__menu-link-2 {
    color: #000;
    text-decoration: none;
    height: 80px;
    display: flex;
    padding: 0 25px;
    flex-direction: column;
    justify-content: center;
}

.header__menu-link-2:hover {
    background: #27acea;
    color: #fff;
}

.header__menu-name {
    font-family: 'Neighbor-Light', sans-serif;
    display: block;
}

.header__menu-text {
    display: block;
    font-weight: 300;
}

.header__search {
    line-height: 0;
}

.header__search a {
    display: block;
}

.footer {
    background: #151723;
    flex: 0 0 auto;
}

.footer .container {
    position: relative;
}

.footer__menu {
    height: 144px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: 1px solid #3b3c45;
    padding: 0 150px;
    margin-left: -15px;
    margin-right: -15px;
}

.footer__menu-link {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.footer__menu-link:hover {
    text-decoration: underline;
}

.footer__bottom {
    height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-weight: 300;
    line-height: 24px;
}

.footer__bottom-col a {
    display: block;
    color: #fff;
    text-decoration: none;
}

.footer__bottom-col a:hover {
    text-decoration: underline;
}

.footer__arrow {
    position: absolute;
    top: 67px;
    right: 0;
    cursor: pointer;
}

.callback-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #000;
    opacity: 0.7;
    cursor: pointer;
    display: none;
}

.callback {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 585px;
    height: 545px;
    background: #fff;
    z-index: 3;
    transform: translate(-50%, -50%);
    padding: 50px 80px 0;
    box-sizing: border-box;
    display: none;
}

.callback-title {
    font-size: 36px;
    color: #030303;
    text-align: center;
    padding-bottom: 45px;
    font-weight: normal;
}

.callback-form input[type="text"] {
    width: 100%;
    height: 65px;
    border: none;
    background: #eef1f6;
    margin-bottom: 25px;
    outline: none;
    padding: 0 15px;
    color: #626466;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.callback-form input[type="submit"] {
    width: 100%;
    height: 65px;
    border: none;
    background: #27acea;
    outline: none;
    color: #fff;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
}

.callback-close {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

/********* Main page *********/

.bx-wrapper {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
}

.bx-wrapper .bx-loading {
    background: none;
}

.slider__item {
    height: 596px;
    color: #fff;
    padding-top: 80px;
    box-sizing: border-box;
}

.slider__item:nth-child(1) {
    background: url(../img/slider/slide_1.jpg) top center no-repeat;
}

.slider__item:nth-child(2) {
    background: url(../img/slider/slide_1.jpg) top center no-repeat;
}

.slider__item:nth-child(3) {
    background: url(../img/slider/slide_1.jpg) top center no-repeat;
}

.slider__item:nth-child(4) {
    background: url(../img/slider/slide_1.jpg) top center no-repeat;
}

.slider__item:nth-child(5) {
    background: url(../img/slider/slide_1.jpg) top center no-repeat;
}

.slider__item:nth-child(6) {
    background: url(../img/slider/slide_1.jpg) top center no-repeat;
}

.slider__item:nth-child(7) {
    background: url(../img/slider/slide_1.jpg) top center no-repeat;
}

.slider__item:nth-child(8) {
    background: url(../img/slider/slide_1.jpg) top center no-repeat;
}

.slider__item .container {
    position: relative;
}

.slider__item .container::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 77px;
    height: 3px;
    background: #fcca00;
}

.slider__title {
    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 48px;
    max-width: 750px;
}

.slider__text {
    font-size: 21px;
    font-weight: 600;
    padding-top: 25px;
    padding-bottom: 40px;
}

.slider__button {
    display: block;
    width: 200px;
    line-height: 52px;
    background: #27acea;
    border-radius: 3px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}

.slider__pager {
    width: 1510px;
    margin: 0 auto;
    margin-top: -130px;
    list-style: none;
    display: flex;
    justify-content: center;
    height: 130px;
    position: relative;
}

.slider__pager li {
    width: 16.66%;
}

.slider__pager a {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: #ededee;
    color: #616161;
    text-transform: uppercase;
    flex-direction: column;
    justify-content: center;
    transition: all 0.2s ease-out;
}

.slider__pager a.active, .slider__pager a:hover {
    background: #fcca00;
    color: #fff;
}

.slider__pager-text {
    font-size: 8px;
}

.slider__pager-name {
    font-family: 'Neighbor', sans-serif;
    font-size: 30px;
}

.news {
    padding-top: 80px;
    padding-bottom: 95px;
    position: relative;
}

.news__item {
    display: flex;
    padding: 40px 0;
    border-bottom: 1px solid #dfdfdf;
    font-size: 15px;
    font-family: 'Gilroy', sans-serif;
    letter-spacing: 1px;
    align-items: center;
}

.news__item:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.news__item-img {
    padding-right: 65px;
    line-height: 0;
}

.news__item-date {
    color: #898e91;
    font-weight: bold;
}

.news__item-text {
    color: #151723;
    line-height: 22px;
    padding: 20px 0;
}

.news__item-link {
    text-decoration: none;
    color: #27acea;
    display: flex;
    width: 170px;
    justify-content: space-between;
    align-items: center;
}

.news__item-link:hover {
    text-decoration: underline;
}

.news__link {
    position: absolute;
    top: 90px;
    right: 0;
    font-weight: 600;
    color: #00ccda;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    width: 137px;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
}

.news__link:hover {
    text-decoration: underline;
}

.portfolio {
    background: #f6f6f6;
    padding: 80px 0 90px;
}

.portfolio__list {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.portfolio__item {
    width: 251px;
    height: 368px;
    font-family: 'Play', sans-serif;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
    padding-left: 25px;
    padding-top: 282px;
    box-sizing: border-box;
    position: relative;
}

.portfolio__item::before {
    content: "";
    width: 77px;
    height: 4px;
    background: #00ccda;
    top: 265px;
    left: 25px;
    position: absolute;
}

.portfolio__item:nth-child(1) {
    background: url(../img/portfolio/portfolio_1.png) center center no-repeat;
}

.portfolio__item:nth-child(2) {
    background: url(../img/portfolio/portfolio_2.png) center center no-repeat;
}

.portfolio__item:nth-child(3) {
    background: url(../img/portfolio/portfolio_3.png) center center no-repeat;
}

.portfolio__item:nth-child(4) {
    background: url(../img/portfolio/portfolio_4.png) center center no-repeat;
}

.portfolio__item:nth-child(5) {
    background: url(../img/portfolio/portfolio_5.png) center center no-repeat;
}

.portfolio__item:nth-child(6) {
    background: url(../img/portfolio/portfolio_6.png) center center no-repeat;
}

.strategy {
    height: 640px;
    position: relative;
    overflow: hidden;
}

.strategy__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 640px;
}

.strategy__list {
    font-size: 15px;
    line-height: 22px;
    color: #151723;
    padding-left: 55px;
    padding-top: 60px;
    max-width: 542px;
    box-sizing: border-box;
    position: relative;
    letter-spacing: 1px;
}

.strategy__list::before {
    content: "";
    height: 330px;
    border-left: 1px solid #00ccda;
    position: absolute;
    top: 70px;
    left: 16px;
}

.strategy__item {
    margin-bottom: 60px;
    position: relative;
}

.strategy__item:last-child {
    margin-bottom: 0;
}

.strategy__item::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #00ccda;
    border-radius: 50%;
    left: -55px;
    top: -5px;
    background: #fff;
}

.strategy__item::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 1px solid #27acea;
    border-radius: 50%;
    left: -47px;
    top: 3px;
    background: #27acea;
}

.strategy__img {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: 40px;
}

.partners {
    background: #f6f6f6;
    padding-top: 80px;
    padding-bottom: 90px;
}

.partners__list {
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.partners__item {
    margin: 30px 35px;
}

.contacts-block {
    background: #27acea;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
}

.contacts-block a {
    color: #fff;
    text-decoration: none;
}

.contacts-block a:hover {
    text-decoration: underline;
}

.contacts-block img {
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 3px;
}

/********* Contacts page *********/

.contacts {
    display: flex;
}

.contacts__info {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.contacts__info-inner {
    width: 570px;
}

.contacts__map {
    width: 50%;
}

.contacts__title {
    padding-top: 60px;
    padding-bottom: 30px;
}